################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Learning_WPF/.vs/Learning_WPF/FileContentIndex
